# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
*.env
venv/
.envrc
*.venv
Data_Models-ZVVqyVvQ/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
__pycache__/
*.pyc

# VS Code
.vscode/

# PyCharm
.idea/

# Mac / Windows
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage

# Migrations
*/migrations/*.py
*/migrations/*.pyc
