[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
numpy = "*"
faker = "*"
pandas = "*"
matplotlib = "*"
pipfile = "*"
python-decouple = "*"
requests = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
